*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.magnamain{
    width: 100%;
    height: 110vh;
    margin-top: -80px;
    background-image: url(../../../assets/imgs/post-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 20px;
    h1{
        width: 730px;
        color: white;
        font-size: 55px;
    }
    h2{
        width: 730px;
        color: white;
        font-size: 30px;
    }
    p{
        width: 730px;
        color: white;
        font-size: 20px;
    }
}
@media only screen and (max-width:998px){
    .magnamain{
        margin-top:0;
        h1{
            width: 80%;
            font-size: 40px;
        }
        h2{
            width: 80%;
            font-size: 28px;
        }
        p{
            width: 80%;
        }
    }
}