*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.magnasecondtexts{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        width: 55%;
        height: 65vh;
        h2{
            line-height: 1.2;
            font-size: 40px;
            font-weight: 800;
            color: #212529;
            margin: 0 0 8px;
        }
        h3{
            font-size: 32px;
            font-weight: 800;
            line-height: 1.2;
            margin: 0 0 8px;
        }
        p{
            line-height: 1.5;
            text-align: left;
            font-weight: 400;
            margin: 30px 0;
            font-size: 22px;
            color: #212529;
            font-family: Lora,Times New Roman,serif;
        }
    }
}
@media only screen and (max-width: 998px){
    .magnasecondtexts{
        height: 65vh;
        .container{
            width: 80%;
            height: 55vh;
        }
    }
}
@media only screen and (max-width: 600px){
    .magnasecondtexts{
        height: 75vh;
        .container{
            width: 90%;
            height: 65vh;
            h2{
                font-size: 36px;
            }
            h3{
                font-size: 29px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}
@media only screen and (max-width: 380px){
    .magnasecondtexts{
        height: 90vh;
        .container{
            width: 90%;
            height: 80vh;
            h2{
                font-size: 36px;
            }
            h3{
                font-size: 29px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}
@media only screen and (max-width: 300px){
    .magnasecondtexts{
        height: 95vh;
        .container{
            width: 90%;
            height: 85vh;
            h2{
                font-size: 34px;
            }
            h3{
                font-size: 27px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}